* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans';
}

body {
    display: flex;
    background-color: #fbfffc;
 }

.left-side{
    width: 633px;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    position: relative;
}
.overlay-image{
    width: 270px;
    height: 263px;
    position: relative;
    top:131px;
    left:188px;
    object-fit:cover;
}
.down-image{
    width: 633px;
    position: relative;
   height: fit-content;
    display: inline-block;
    object-fit: contain;
    height: 550px;
}
.down-image img{
    display: block;
    width: 100%;
    
}
.down-image::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18.9%;
    background: linear-gradient(to top, rgba(52, 168, 83, 0.7) 0%, rgba(52, 168, 83, 0.9) 100%) ;
    pointer-events: none;
}


.right-side {
    height: 950px;
    width: 700px;
    padding: 84px 86px;      
}
.verify{
    display: flex;
    height: 683px;
    width: 524px;
    left: 118px;
    top: 104px;
    margin-top: 40px;
}
.verify {
    background-color: #fff;
    width: 523px;  
}
.verify h1{
    font-size: 48px;
    font-weight: 500;
    
}
.verify p{
    font-size: 24px;
    font-weight: 400;
}

strong{
    font-size: 24px;
    font-weight: 600;
}

.verify-container{
    display: flex;
    margin-bottom: 220px;
    gap: 20px;
    justify-content: center;
    margin-top: 200px;
    
}
.token{
    width:77px;
    height: 71px;
    border-radius: 10px;
    border: 1px solid #00000033; 
    font-size: 24px;
    text-align: center;
    
}
button{
    width: 524px;
    height: 56px;
    padding: 10px;
    gap:10px;
    background-color: #34a853;
    color: #FAFAFA;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;  
}
.no-code{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap:10px;
}
.no-code a{
    text-decoration: none;
    color:#34a853;
}
.no-code a:hover{
    text-decoration: underline;
}